h1 {
	background-image: url("prose_code_header.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
	text-align: center;
	line-height: 6.3em;
	font-weight: 400;
	font-size: 3em;
	font-style: italic;
	text-transform: uppercase;
}

body {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

img {
	padding-right: 10px;
}

.left {
	float: left;
	height: 100%;
	width: 507px;
}

.clear, .wrapper {
	clear: both;
}

.wrapper {
	width: 1100px;
	overflow: auto;
	margin: 2em auto;
}

.center-text {
	text-align: center;
}

.center-block {
	margin: 0 auto;
}

.right {
	float: right;
	height: 100%;
	width: 510px;
}

.teal {
	background-color: rgb(132,217,195);
	width: 50%;
}

.centered {
	text-align: center;
}

.bg {
	background-image: url("monitor_bg.png");
	background-repeat: no-repeat;
	background-position: center;
	height:300px;
	width:500px;
	text-align: center;
}

.bg blockquote {
	text-align: left;
	margin-top: 50px;
	margin-left: 100px;
	font-size: 1.5em;
	font-style: italic;
}
.bg cite {
	text-align: left;
	float: right;
	margin-right: 50px;
}
.profile {
	text-align: center;
}